In [9]:
students = "tj", "hayoung", "sylvie", "doug", "aishwarya", "zubin"

for student in students: 
    print(student.capitalize())

Tj
Hayoung
Sylvie
Doug
Aishwarya
Zubin

In [15]:
#Basic syntax of list comprehension 
#square brackets
#like an inverted for loop 

students = "tj", "hayoung", "sylvie", "doug", "aishwarya", "zubin"

student_caps = [student.capitalize() for student in students]

print(student_caps)

['Tj', 'Hayoung', 'Sylvie', 'Doug', 'Aishwarya', 'Zubin']

In [16]:
nums = [-9, -7, -4, -2, 0, 2, 3, 4, 5, 6]

for i in nums:
    if i % 2 == 0:
        print(i)

-4
-2
0
2
4
6

In [17]:
nums = [-9, -7, -4, -2, 0, 2, 3, 4, 5, 6]

evens = [x for x in nums if x % 2 ==0] #conditional statements after 

print(evens)

[-4, -2, 0, 2, 4, 6]

In [20]:
students2 = ["Doug", "Darren", "TJ", "Tom", "Hayoung", "Harry", "Casey", "Carl"]

students_t = [x for x in students2 if x.startswith("T")]

print(students_t)

['TJ', 'Tom']

In [22]:
#list comprehensions with else / elif 
# your_list = [f(x) if condition elif condition_2 g(x) else h(x) for x in iterable_object]
#square of elements if elements less than 10; otherwise, return numbers themselves

nums2 = [1, 7, 13, 11, 23, 2, 17, 42, 8, 5]

new_list = [x**2 if x < 10 else x for x in nums2]

print(new_list)

[1, 49, 13, 11, 23, 4, 17, 42, 64, 25]

In [26]:
nums2 = [1, 7, 13, 11, 23, 2, 17, 42, 8, 5]
new = []

for i in nums2:
    if i < 10:
        new.append(i**2)
    else: 
        new.append(i)

print(new)

[1, 49, 13, 11, 23, 4, 17, 42, 64, 25]

In [30]:
#dictionary comprehensions 
#syntax {key: value for (key, value in iterable}
#squiggly braces for dictionary list comprehension

keys = ["A", "B", "C", "D"]
values = ["Alpha", "Bravo", "Charlie", "Delta"]

dictcomp_1 = {key: value for (key, value) in zip(keys, values)}
print(dictcomp_1)

{'A': 'Alpha', 'B': 'Bravo', 'C': 'Charlie', 'D': 'Delta'}

In [34]:
#functions allow us to tackle more complicated algorithms and scripts 
#allows us to break code into more manageable pieces where each piece has specific functionality
#also known as modularity 
#just a piece of code we can use in different parts of our program
#two parts: defining and hten calling it
#function takes argument 
#three single quotations (doc string) - you can say what function will do - another way to comment out code
#but this line of words will be saved in function so if you ever want to find out what welcome does, it will tell you what the function's purpose is
#a note which you write to explain purpose of function
#you can type ? and then function name to find out the purpose

def welcome():
    '''a function to welcome students''' 
    print("Greetings Yale Grad students")
    print("Welcome to the Jackson Institute")
    
welcome()

Greetings Yale Grad students
Welcome to the Jackson Institute

In [37]:
?welcome

In [40]:
?print

In [49]:
#functions can take arguments
#in welcome, haven't put any arguments but we can 
#a parameter used to define a fuction
#define with parameters and then pass on arguments
#argument specific parameter we pass to function

def welcome2(first, last = ""):
    '''A function to greet peopel by first and last names'''
    print(f' Welcome {first} {last} to the Jackson Institute!')
    
welcome2("Casey", "King")
welcome2("Sylvie", "Zhong")
welcome2("Hayoung", "Choi")
welcome2("TJ")

 Welcome Casey King to the Jackson Institute!
 Welcome Sylvie Zhong to the Jackson Institute!
 Welcome Hayoung Choi to the Jackson Institute!
 Welcome TJ  to the Jackson Institute!

In [51]:
def welcome2(first, last = ""):
    '''A function to greet peopel by first and last names'''
    print(f' Welcome {first} {last} to the Jackson Institute!')
    
welcome2("Casey", "King")
welcome2("Sylvie", "Zhong")
welcome2("Hayoung", "Choi")
welcome2("TJ")

 Welcome Casey King to the Jackson Institute!
 Welcome Sylvie Zhong to the Jackson Institute!
 Welcome Hayoung Choi to the Jackson Institute!
 Welcome TJ  to the Jackson Institute!

In [58]:
#save code for later - that's when we use the return value

def welcome4(name): #name is the parameter
    '''simple function to welcome people to Jackson by first name'''
    return f'Welcome {name} to the Jackson Institute!'

In [59]:
#reusable code
#when you return something it stores something for you
#can concatenate 

welcome = welcome4("TJ") #TJ is the argument
print(welcome)

Welcome TJ to the Jackson Institute!

In [60]:
#difference between a parameter and an argument
#define with parameter
#but when you call a function, you use an argument
#argument is a specific, individual example of that parameter

In [61]:
def welcome5(first, last, year=2023):
    return f'Welcome {first} {last} to the Jackson Institute class of {year}!'

In [62]:
welcome5("Sylvie", "Zhong")

'Welcome Sylvie Zhong to the Jackson Institute class of 2023!'

In [63]:
welcome5("Sylvie", "Zhong", 2024)

'Welcome Sylvie Zhong to the Jackson Institute class of 2024!'

In [65]:
def increment(num, by):
    '''increment a number by another'''
    return num + by

increment(5, 7)

12

In [69]:
def multiply(num, by = 6):
    '''multiple two numbers together'''
    return num * by

multiply(3, 7)

21

In [71]:
multiply(3)

18